# ~/.ai/.envrc

# Load secrets from Infisical
if [ ! -f .env.cached ] || [ $(find .env.cached -mtime +1) ]; then
    echo "export LLM_GEMINI_KEY=$(op read "op://AIScream/1MED Gemini key/password")" >> .env.cached
    echo "export GITHUB_TOKEN=$(op read "op://dev/GitHub/GITHUB_TOKEN - alchemist" --account my.1password.com)" >> .env.cached
fi
source .env.cached
